<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="foto-tex">
        <h4 data-ix="tite">YO</h4>
        <p data-ix="subtitulo">Hola, soy Jhomnatan un programador calichin  frontend junior con experiencia en la creación de interfaces web modernas. He trabajado con tecnologías como HTML, CSS, JavaScript y frameworks 
        como React para construir sitios responsivos y dinámicos.</p>
       </div>
    <section class="portafolio" id="Trabajo">
        <h4 data-ix="slowfade-scroll-bigs">Habilidades</h4>
        <div class="portafolio-container">
          <section class="portafolio-item">
            <img src="" />
          </section>
          <section id="habilidades" class="skills-section">
            <div class="container">
                <h2 class="skills-title"></h2>
                <div class="skills-container">
                    <span class="skill">HTML5</span>
                    <span class="skill">CSS3</span>
                    <span class="skill">JavaScript</span>
                    <span class="skill">React</span>
                    <span class="skill">Node.js</span>
                    <span class="skill">Python</span>
                    <span class="skill">SQL</span>
                </div>
            </div>
        </section>
        </div>
    </section>
</body>
</html>